In [0]:
from sklearn import datasets
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score

import pandas as pd

In [0]:
#load dataset 

boston_data = datasets.load_boston() #for regression
iris_data = datasets.load_iris() #for classifier
diabetes_data = datasets.load_diabetes()
wine_data = datasets.load_wine()
breast_cancer_data = datasets.load_breast_cancer()

In [0]:
x_boston = pd.DataFrame(boston_data.data, columns=boston_data.feature_names)
y_boston = pd.DataFrame(boston_data.target)

x_iris = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
y_iris = pd.DataFrame(iris_data.target)

x_diabetes = pd.DataFrame(diabetes_data.data, columns=diabetes_data.feature_names)
y_diabetes = pd.DataFrame(diabetes_data.target)

x_wine = pd.DataFrame(wine_data.data, columns=wine_data.feature_names)
y_wine = pd.DataFrame(wine_data.target)

x_breast_cancer = pd.DataFrame(breast_cancer_data.data, columns=breast_cancer_data.feature_names)
y_breast_cancer = pd.DataFrame(breast_cancer_data.target)

x_boston_train, x_boston_test, y_boston_train, y_boston_test = train_test_split(x_boston, y_boston, test_size=0.3)
x_iris_train, x_iris_test, y_iris_train, y_iris_test = train_test_split(x_iris, y_iris, test_size=0.3)
x_diabetes_train, x_diabetes_test, y_diabetes_train, y_diabetes_test = train_test_split(x_diabetes, y_diabetes, test_size=0.3)
x_wine_train, x_wine_test, y_wine_train, y_wine_test = train_test_split(x_wine, y_wine, test_size=0.3)
x_breast_cancer_train, x_breast_cancer_test, y_breast_cancer_train, y_breast_cancer_test = train_test_split(x_breast_cancer, y_breast_cancer)

In [0]:
#show each data
x_boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [0]:
y_boston.head()

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [0]:
x_iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [0]:
y_iris.head()

   0
0  0
1  0
2  0
3  0
4  0

In [0]:
x_diabetes.head()

        age       sex       bmi  ...        s4        s5        s6
0  0.038076  0.050680  0.061696  ... -0.002592  0.019908 -0.017646
1 -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068330 -0.092204
2  0.085299  0.050680  0.044451  ... -0.002592  0.002864 -0.025930
3 -0.089063 -0.044642 -0.011595  ...  0.034309  0.022692 -0.009362
4  0.005383 -0.044642 -0.036385  ... -0.002592 -0.031991 -0.046641

[5 rows x 10 columns]

In [0]:
y_diabetes.head()

       0
0  151.0
1   75.0
2  141.0
3  206.0
4  135.0

In [0]:
x_wine.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [0]:
y_wine.head()

   0
0  0
1  0
2  0
3  0
4  0

In [0]:
x_breast_cancer.head()

   mean radius  mean texture  ...  worst symmetry  worst fractal dimension
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [0]:
y_breast_cancer.head()

   0
0  0
1  0
2  0
3  0
4  0

In [0]:
def AdaBoostClass(x_data, y_data):
  return AdaBoostClassifier().fit(x_data, y_data)

def AdaBoostReg(x_data, y_data):
  return AdaBoostRegressor().fit(x_data, y_data)

In [0]:
boston_model = AdaBoostReg(x_boston_train, y_boston_train)
boston_pred = boston_model.predict(x_boston_test)

print("Mean Absolute Error is: ", mean_absolute_error(y_boston_test, boston_pred))

Mean Absolute Error is:  2.8225851936179978

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
pd.DataFrame(boston_pred).head()

           0
0  20.286207
1  25.814062
2  41.900000
3  19.858036
4  17.812162

In [0]:
iris_model = AdaBoostClass(x_iris_train, y_iris_train)
iris_pred = iris_model.predict(x_iris_test)

print("Confusion Matrix : \n", confusion_matrix(y_iris_test, iris_pred))
print("Accuracy :, ", accuracy_score(y_iris_test, iris_pred))

Confusion Matrix :
 [[16  0  0]
 [ 0 13  1]
 [ 0  2 13]]
Accuracy :,  0.9333333333333333

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
pd.DataFrame(iris_pred).head()

   0
0  1
1  0
2  2
3  0
4  1

In [0]:
diabetes_model = AdaBoostReg(x_diabetes_train, y_diabetes_train)
diabetes_pred = diabetes_model.predict(x_diabetes_test)

print("Mean Absolute Error is: ", mean_absolute_error(y_diabetes_test, diabetes_pred))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Mean Absolute Error is:  51.30664507825452

In [0]:
pd.DataFrame(diabetes_pred).head()

            0
0  244.882353
1   92.333333
2  123.270833
3  148.609023
4  253.986842

In [0]:
wine_model = AdaBoostClass(x_wine_train, y_wine_train)
wine_pred = wine_model.predict(x_wine_test)

print("Confusion Matrix : \n", confusion_matrix(y_wine_test, wine_pred))
print("Accuracy :, ", accuracy_score(y_wine_test, wine_pred))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Confusion Matrix :
 [[16  1  0]
 [ 6 16  1]
 [ 0  1 13]]
Accuracy :,  0.8333333333333334

In [0]:
pd.DataFrame(wine_pred).head()

   0
0  2
1  0
2  1
3  2
4  0

In [0]:
breast_cancer_model = AdaBoostClass(x_breast_cancer_train, y_breast_cancer_train)
breast_pred = breast_cancer_model.predict(x_breast_cancer_test)

print("Confusion Matrix : \n", confusion_matrix(y_breast_cancer_test, breast_pred))
print("Accuracy :, ", accuracy_score(y_breast_cancer_test, breast_pred))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Confusion Matrix :
 [[49  3]
 [ 4 87]]
Accuracy :,  0.951048951048951

In [0]:
pd.DataFrame(breast_pred).head()

   0
0  1
1  1
2  0
3  1
4  1

In [0]:
from sklearn.tree import export_graphviz#Make and fit model
iris_model = AdaBoostClassifier().fit(x_iris_train, y_iris_train)
tree_file = export_graphviz(iris_model, out_file=None,feature_names=x_boston.columns)
graphviz.Source(tree_file)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

NotFittedError: ignored