In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix 
from sklearn import datasets

from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

In [0]:
breast_cancer = datasets.load_breast_cancer()

In [0]:
x_breast_cancer = breast_cancer_data.data
y_breast_cancer = breast_cancer_data.target

In [86]:
breast_cancer_features = pd.DataFrame(x_breast_cancer, columns=breast_cancer.feature_names)
breast_cancer_features.head()

   mean radius  mean texture  ...  worst symmetry  worst fractal dimension
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [0]:
new_target = []

def numeric_to_categoric(data):
  for target in data:
    if target == 0 :
      target = "Malignant"
      new_target.append(target)
    if target == 1 :
      target = "Benign"
      new_target.append(target)

In [88]:
y_breast_cancer_new = numeric_to_categoric(y_breast_cancer)
breast_cancer_target = pd.DataFrame(new_target, columns=['Target'])
breast_cancer_target.head()

      Target
0  Malignant
1  Malignant
2  Malignant
3  Malignant
4  Malignant

In [89]:
complete_breast_cancer_data = pd.concat([breast_cancer_features, breast_cancer_target], axis=1)
complete_breast_cancer_data.head()

   mean radius  mean texture  ...  worst fractal dimension     Target
0        17.99         10.38  ...                  0.11890  Malignant
1        20.57         17.77  ...                  0.08902  Malignant
2        19.69         21.25  ...                  0.08758  Malignant
3        11.42         20.38  ...                  0.17300  Malignant
4        20.29         14.34  ...                  0.07678  Malignant

[5 rows x 31 columns]

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x_breast_cancer, y_breast_cancer, random_state=1, test_size=0.3)

In [0]:
svm_model = SVC()
kneighbors_model = KNeighborsClassifier()
decision_tree_model = DecisionTreeClassifier()
random_forest_model = RandomForestClassifier() 
adaboost_model = AdaBoostClassifier()

In [92]:
svm = svm_model.fit(x_train, y_train)
decision_tree = decision_tree_model.fit(x_train, y_train)
kneighbors = kneighbors_model.fit(x_train, y_train)
random_forest = random_forest_model.fit(x_train, y_train)
adaboost = adaboost_model.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [0]:
svm_predict = svm.predict(x_test)
decision_tree_predict = decision_tree.predict(x_test)
kneighbors_predict = kneighbors.predict(x_test)
random_forest_predict = random_forest.predict(x_test)
adaboost_predict = adaboost.predict(x_test)

In [132]:
pd.concat([pd.DataFrame(svm_predict, columns = ['SVM Prediction']), 
           pd.DataFrame(decision_tree_predict, columns = ['Decision Tree Prediction']), 
           pd.DataFrame(kneighbors_predict, columns = ['Decision Tree Prediction']),  
           pd.DataFrame(random_forest_predict, columns = ['Random Forest Prediction']), 
           pd.DataFrame(adaboost_predict, columns = ['Adaboost Prediction'])],axis=1)

     SVM Prediction  ...  Adaboost Prediction
0                 1  ...                    1
1                 1  ...                    0
2                 1  ...                    1
3                 1  ...                    0
4                 1  ...                    0
..              ...  ...                  ...
166               1  ...                    0
167               1  ...                    0
168               1  ...                    0
169               1  ...                    1
170               1  ...                    1

[171 rows x 5 columns]